.updatepassword {
  display: flex;
  flex-direction: row;
}
.updatesideNav {
  width: 5;
  margin-left: 0px;
  margin:0px;
  background-color: #252c48;
  padding: 10px;
  /* margin: 20px; */
  height: 800px;
  border-radius: 0px;
}

.updatebody {
  width: 80%;
  height: 100px;
  align-items: center;
}
.updatebody > form {
  
  padding-top: 200px;
  padding-left: 300px;
  padding-right: 300px; 
    width: 81%;
    margin: 0%;
    border: 1px solid #252c48;
    margin: 20px;
    background-color: #252c48;
    height: 80vh;
    align-items: center;
  }

  
